//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDark:              #3e4c59 !default;
$gray:                  #dee5e9 !default;
$grayLight:             #ecf1f4 !default;
$grayLighter:            #f0f4f6 !default;
$white:                 #fff !default;

$screenBreak :          480px;
$screenHideNav :        700px;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$green:                 #46a546 !default;
$red:                   #d11f12 !default;
$yellow:                #ffc40d !default;
$orange:                #fe4400 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;
$baseColor:             #1b2430 !default;
